<form action="/auth/signup" method="POST">
  <label for="auth-first_name">First Name</label>
  <input id="auth-first_name" type="name" name="first_name">

  <label for="auth-last_name">Last Name</label>
  <input id="auth-last_name" type="name" name="last_name">

  <label for="auth-user_name">User Name</label>
  <input id="auth-user_name" type="name" name="user_name">

  <label for="new-email">Email</label>
  <input id="new-email" type="email" name="email">

  <label for="new-password">Password</label>
  <input id="new-password" type="password" name="password">

  <input type="submit" value="Sign up">
</form>
