<% if (alerts.error) { %>
 <% alerts.error.forEach(msg => { %>
  <div class="alert alert-danger alert-dismissible fade show"><%= msg %> 
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
</div>
 <% }) %>
<% } %>

<% if (alerts.success) { %>
    <% alerts.success.forEach(msg => { %>
     <div class="alert alert-success alert-dismissible fade show" role="alert"><%= msg %>
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
     </div>
    <% }) %>
   <% } %>
