<h1>Bank</h1>

<div class="container">
  <div class="row row-cols-auto">
    <% memes.forEach(meme => { %>

    <div class="col-3">
      <div class="card">
        <img src="<%= meme.img_url %>" class="memeImg card-img-top" />
        <div class="card-body">
          <div class="row justify-content-md-center">

            <% if (meme.private === true && meme.copied === false) { %>

              <div class="col">
            <form action="/bank/public" method="POST" id="makePublic">
              <input type="text" id="publicId" name="publicId" class="form-control" value="<%= meme.id %>" hidden/>
              <button type="submit" class="btn btn-primary btn-sm text-nowrap">
                Make Public
              </button>
            </form>
          </div>

            <% } else if (meme.private === false && meme.copied === false){%>

              <div class="col">
            <form action="/bank/private" method="POST" id="makePrivate">
              <input type="text" id="privateId" name="privateId" class="form-control" value="<%= meme.id %>" hidden/>
              <button type="submit" class="btn btn-primary btn-sm text-nowrap">
                Make Private
              </button>
            </form>
          </div>
            <% } %>

              <div class="col">
            <form action="/bank" method="POST" id="delete">
              <input type="text" id="memeId" name="memeId" class="form-control" value="<%= meme.id %>" hidden/>

              <button type="submit" class="btn btn-primary btn-sm">
                Delete
              </button>
            </form>
            </div>

          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
