
<div class="card" id="errorCard">
    <div class="card-header">
      <h2>Oops!</h2>
    </div>
    <div class="card-body">
        <img src="https://i.imgflip.com/5ap4fl.jpg" alt="404" id="error">
    </div>
  </div>
  