<h2>Recently Created</h2>

<div class="container">
    <div class="row">
  <% memes.forEach(meme => { %>
    
    <div class="col">
  <div class="card">
    <img src="<%= meme.img_url %>" class="memeImg card-img-top" >
    <div class="card-body">
      <h6>Created by: <%= meme.user.user_name%></h6>

      <form action="/" method="POST">
        <input type="text" id="memeUrl" name="memeUrl" class="form-control" value="<%= meme.img_url %>" hidden>
      <button type="submit" class="btn btn-primary">+</button>
    </form>
    
    </div>
  </div>
</div>
  <% }) %>
</div>
</div>