<h1>Select Image</h1>

  <div class="container">
    <div class="row">
  <% meme.forEach(meme => { %>
    <div class="col">
  <div class="card">
    <img src="<%= meme.url %>"" class="memeImg card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= meme.name %></h5>
      <a href="#" class="btn btn-primary" onclick="createMeme()">Create Meme</a>
    </div>
  </div>
</div>
  <% }) %>
</div>
</div>