nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: rgb(0, 0, 0);
}

.memeImg {
  width: 350px;
}


.container {
  max-height:100px;
  width: 100%;
  overflow: scroll;  
}

.memes
{
  height: 80px;
  width: 100%;
}
